---
import { Image } from "astro:assets";
import H1 from "../components/h1.astro";
import InfoLayout from "../layouts/InfoLayout.astro";
import ACGenerator from "../assets/lanzarotto.png";
import FluidPropulsion from "../assets/med-sass.png";
import ElectricMotor from "../assets/pet-info.png";

const projects = [
  {
    title: "Lanzarotto",
    description:
      "A comprehensive admin panel built with Angular 17 and styled with Tailwind CSS. The application provides a user-friendly interface for managing various business entities, including users, musicians, service requests, finances, and collaborator access control.",
    image: ACGenerator,
    link: "https://github.com/luizaleblanc/lanzarotto-angular",
  },
  {
    title: "MedSass",
    description:
      "MedSaaS is a modern, responsive web application designed to streamline medical practice management. It provides a clean and intuitive dashboard for healthcare professionals to manage patients, schedule appointments, and stay updated with real-time notifications.",
    image: FluidPropulsion,
    link: "https://github.com/luizaleblanc/sass-med",
  },
  {
    title: "PetInfo",
    description:
      "A web application for pet lovers. The project was developed with React and aims to provide a platform where users can upload their pets pics, also create profiles and share moments.",
    image: ElectricMotor,
    link: "https://github.com/luizaleblanc/pet-info",
  },
];
---

<InfoLayout>
  <div
    class="flex flex-col items-center justify-center min-h-screen py-20 px-4 sm:px-12 bg-zinc-900"
  >
    <H1>Projects</H1>

    <ul class="w-full max-w-6xl mt-12 flex flex-col items-center gap-24">
      {
        projects.map((project) => (
          <li class="flex flex-col items-center text-center w-full">
            <a
              href={project.link}
              target="_blank"
              rel="noopener noreferrer"
              class="group w-full flex justify-center"
            >
              <div class="w-full flex justify-center overflow-hidden rounded-2xl shadow-2xl bg-zinc-800 hover:bg-zinc-700 transition-all duration-300">
                <Image
                  src={project.image}
                  alt={project.title}
                  class="w-full max-w-5xl h-auto object-contain transition-transform duration-300 group-hover:scale-105"
                />
              </div>
            </a>

            <div class="max-w-3xl px-6 mt-6">
              <h2 class="text-3xl font-semibold text-zinc-100 mb-3">{project.title}</h2>
              <p class="text-base text-zinc-300 leading-relaxed">{project.description}</p>
            </div>
          </li>
        ))
      }
    </ul>
  </div>
</InfoLayout>
